@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// body{
//     max-width: 1200px;
//     margin: auto;
// }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1200px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.fadeInUp {
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.heading {
  &.left {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    &:after {
      content: "";
      position: absolute;
      width: 80px;
      height: 5px;
      left: 0;
      bottom: -1.5rem;
      background: #01bf19;
    }
  }
  &.right {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    &:after {
      content: "";
      position: absolute;
      width: 80px;
      height: 5px;
      right: 0;
      bottom: -1.5rem;
      background: #01bf19;
    }
  }
}

.tranform-tilt-30 {
  transform: matrix(1, 0, -0.4, 1, 0, 0);
}

.rc-tab {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #c4c4c4;
  .rc-tab-nav {
    font-size: 24px;
    padding: 1.5rem 0;
    flex-grow: 1;
    cursor: pointer;
    &.active {
      display: block;
      content: "";
      border-bottom: solid 3px #01bf19;
      transition: transform 250ms ease-in-out;
      transform: scaleX(1);
    }
  }
}

.slider {
  .slick-slider {
    .slick-dots {
      text-align: left;
      padding: 0 4rem;
      bottom: -3.5rem;
      li {
        width: 4rem;
        height: 0.25rem;
        background: #464646;
      }
      .slick-active {
        background: #06bf19;
      }
    }
  }
  .slick-arrow{
    &:before{
      color: black;
    }
  }
}

.prod-container {
  overflow: hidden;
  &:hover {
    img {
      opacity: 0.7;
      transform: scale(1.15);
      transition: all 0.9s ease;
    }
  }
}

@media (min-width: 768px) {
  .w-30 {
    width: 30%!important;
  }
}

@media (max-width: 600px) {
  .m-w-full {
    width: 100%!important;
  }
}


.mobile-menu{
  position: absolute;
  top:4rem;
  right: 1rem;
  background: white;
  font-size: 1rem;
  li{
    padding: .325rem 1rem;
  }
}

.line-gradient{
  height: 2px;
  background: linear-gradient(90deg, #06BF19 0%, rgba(255, 255, 255, 0) 101.05%);
}